html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 90% calibri, sans-serif;
  text-align: center;
  background: linear-gradient(silver, rgb(0, 162, 255));
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  /* object-fit: cover; */
  z-index: -1;
}
#welcome {
  height: 800px;
  width: 800px;
  padding-left: 350px;
  padding-top: 100px;
}
#wel {
  height: 800px;
  width: 800px;
  padding-left: 350px;
  padding-top: 200px;
}
div#header {
  background-color: blanchedalmond;
}
div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}
div#container {
  height: auto;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  background-color: azure;
}
div#wrapper {
  float: right;
  width: 500px;
}
div#wrapper p {
  line-height: 1.5;
  text-align: justify;
}
div#nav {
  float: left;
  height: 500px;
  background-color: burlywood;
  width: 200px;
}
div#nav ul {
  margin-left: 10px;
  list-style-type: square;
}
div#nav li {
  margin-bottom: 5px;
}
div#footer {
  clear: both;
  width: 100%;
  background-color: #bfbd93;
}
div#footer p {
  margin: 0;
  padding: 5px 10px;
}
a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
p {
  margin: 0 10px 10px;
}
#heading {
  text-align: center;
}

#center {
  height: auto;
  width: 300px;
  margin-left: 100px;
}

label,
input,
button,
select,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
}

button {
  color: blue;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}
.record {
  list-style-type: square;
}
.record li {
  margin-top: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid black;
  padding: 5px;
}
strong {
  color: goldenrod;
  padding: 5px;
}
i {
  color: blue;
  padding: 5px;
}
